.cardUser {
    width: max-content;
    height: 45rem;
    padding: 2rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f8f8f8;
    &__img {
        width: 15rem;
        height: 15rem;
        border-radius: 50rem;

    }
    
}

