.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black,.3);
    background-color: rgba($color-white,.7);
    padding: 6rem;
    padding-right:9rem;
    border-radius: 4px;
    transform: skewX(-10deg);
    @include query(tabPort){
        transform: none;
        padding-right: 6rem;
        
    }
    
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        background-size:cover;
        -webkit-shape-outside:circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%) ;
        -webkit-clip-path:circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        z-index: 10;
        transform: skewX(10deg);
        @include query(tabPort){
            transform: skewX(0);
            float: none;
            margin-left: 5rem;
            margin-bottom: 2rem;
            
            
        }
        overflow: hidden;
        backface-visibility: hidden;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem);
        transition: all .4s;
        backface-visibility: hidden;
    
    }
    &__text {
        transform: translateX(5rem) skewX(10deg);
        @include query(tabPort){
            transform: none;
            text-align: center
        }     
    }
    &__caption {
        @include absPos(50%,50%);
        transform: translate(-50%,20%);
        text-align: center;
        @include text(inherit,2.4rem,400,$color-grey-light-1);
        text-transform:uppercase;
        opacity: 0;
        transition: all .4s;
    }
    &:hover &__caption {
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    &:hover &__img {
        filter: blur(3px) brightness(80%);
    }
}