/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary :#55c57a;
$color-primary-light:#84fa70;
$color-primary-dark:#0c9350;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#322b2b;
$color-white:#fff;
$color-black:#000;
$color-black-1:#201c1c;
$color-grey-light-1:#F7F7F7;

$color-yellow-light:#ffb900;
$color-yellow-dark:#dc3a09;

$color-blue-light:#4aa2f5;
$color-blue-dark:#1c0ac2;

// grid

$grid-width:114rem;
$gutter-horizental:6rem;
$gutter-horizental-small:4rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;

$defaultFontSize :1.6rem;