@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  position: relative;
  font-family: "Poppins" , sans-serif;
  background-color: #eee;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 15rem 1fr;
  grid-template-areas: "green-box header" "navbar main";
  height: 100vh; }

.green-box {
  grid-area: green-box;
  background-color: #379683; }

main.main {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center; }

header.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d0caca;
  width: 100%;
  height: 100%;
  text-align: center; }

nav.navbar {
  grid-area: navbar;
  justify-self: center;
  align-self: center;
  background-color: #5CDB95; }

form .form__box {
  width: 45rem;
  padding: 2rem;
  background: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px; }

form .form__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #5CDB95;
  color: azure;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  cursor: pointer; }
  form .form__img:hover {
    font-size: 6rem; }

form .form__group {
  display: grid;
  grid-template-areas: "input icon" "label label";
  grid-template-columns: 2fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  width: 70%; }

form .form__input {
  padding: 1rem 1.5rem;
  grid-area: input;
  border-radius: 2px;
  transition: all .5s;
  background-color: #fff;
  cursor: text;
  border: none;
  border-bottom: 3px solid #5CDB95;
  width: 100%; }
  form .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
    border-bottom: 3px solid #5CDB95; }
    form .form__input:focus:invalid {
      border-bottom: 3px solid red; }
  form .form__input::-webkit-input-placeholder {
    color: rgba(121, 120, 120, 0.7);
    font-size: 1.3rem; }

form .form__label {
  display: block;
  margin-top: .5rem;
  margin-left: 2rem;
  transition: all .3s;
  grid-area: label;
  color: #797878; }

form .form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem); }

form .form__input:placeholder-shown ~ .form__icon {
  background-color: #797878; }

form .form__btn:visited, form .form__btn:link {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #5CDB95;
  color: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 1; }
  form .form__btn:visited:hover::after, form .form__btn:link:hover::after {
    transform: scale(4);
    opacity: 0; }

form .form__btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5CDB95;
  transition: all .3s;
  border-radius: 5px;
  pointer-events: none; }

form .form__icon {
  background-color: #5CDB95;
  border-radius: 3px;
  height: 2.5rem;
  transition: all .2s;
  grid-area: icon;
  justify-self: start;
  align-self: center;
  margin-left: -2.5rem; }

form .form__login {
  margin-top: 2rem;
  text-decoration: none;
  color: #5CDB95;
  cursor: pointer; }

.navbar {
  width: 100%;
  height: 100%; }
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    height: 100%; }
  .navbar__group {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navbar__item {
    text-decoration: none;
    fill: aliceblue;
    width: 5rem;
    display: block;
    transition: all .3s; }
    .navbar__item:not(:hover) + .navbar__label {
      opacity: 0;
      transform: translateY(-4rem); }
    .navbar__item:hover .navbar__link i {
      color: #379683; }
    .navbar__item:hover + .navbar__label {
      opacity: 1;
      transform: translateY(0); }
  .navbar__link, .navbar__link:visited, .navbar__link:link {
    text-decoration: none;
    cursor: pointer; }
    .navbar__link i, .navbar__link:visited i, .navbar__link:link i {
      color: #FFF;
      font-size: 5rem;
      display: block;
      width: 100%;
      height: 25%;
      transition: all .3s; }
  .navbar__label {
    font-size: 2rem;
    color: #379683;
    transition: all .3s; }

.cardUser {
  width: max-content;
  height: 45rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f8f8f8; }
  .cardUser__img {
    width: 15rem;
    height: 15rem;
    border-radius: 50rem; }

.green-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; }

.navigation {
  display: none; }
  .navigation__checkbox {
    display: none;
    cursor: pointer; }
  .navigation__button {
    width: 7rem;
    height: 7rem;
    background-color: #FFF;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 2000;
    cursor: pointer; }
    .navigation__button:hover .navigation__icon::before {
      top: 1.2rem; }
    .navigation__button:hover .navigation__icon::after {
      top: -1.2rem; }
  .navigation__nav {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 1.4s; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link span {
    margin-right: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
    background-size: 230%;
    transition: all .3s;
    padding: 1rem 2rem; }
  .navigation__link:hover {
    background-position: right;
    transform: translateX(1rem) scale(1.1);
    color: #04015c; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#5CDB95, #379683);
    z-index: 1000;
    transition: all 1.5s cubic-bezier(0.48, -0.43, 0.43, 1.47); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(60); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #1f1c1c;
    display: inline-block;
    position: absolute;
    transition: all .5s; }
  .navigation__icon {
    top: 3.4rem;
    left: 1.9rem; }
    .navigation__icon::after, .navigation__icon::before {
      content: ""; }
    .navigation__icon::after {
      top: -1rem; }
    .navigation__icon::before {
      top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(765deg);
    top: 0rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(-765deg);
    top: 0rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -3;
  transition: all .4s;
  background-color: rgba(0, 0, 0, 0.8); }
  .popup:target {
    opacity: 1;
    z-index: 5; }
  .popup h2.popup__header {
    color: #5CDB95;
    margin: 3rem 0rem; }
  .popup__content {
    background-color: #FFF;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px; }
  .popup__close {
    font-size: 3rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: #5CDB95;
    cursor: pointer; }

@media (max-width: 970px) {
  html {
    font-size: 55%; }
  .main {
    flex-direction: column-reverse;
    gap: 5rem;
    padding: 5rem; } }

@media (max-width: 600px) {
  html {
    font-size: 45%; }
  .navbar {
    display: none; }
  body {
    grid-template-areas: "green-box header" "main main"; }
  .navigation {
    display: block; } }
